*{padding: 0;margin: 0;
    font-family: "SourceSansPro", sans-serif;}

html,body{overflow-x:hidden;}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}

[data-tooltip] {
    position: relative; 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute; 
    width: 300px;
    left: 0; top: 0; 
    background: #3989c9;
    color: #fff; 
    padding: 0.5em; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.6s;
   } 
   [data-tooltip]:hover::after {
    opacity: 1;
    top: 3em;
    left: -5em;
   }

body{
    background-image: url(../img/Group.png);/*ДОБАВЛЕНА ЭТА ЗАПИСЬ*/
}

main{
    height: 1290px;
    width: 1114px;
    margin: auto;
}

.content{
    padding-top: 23%;
    margin-left: 161px;
    width: 827px;
}

.outH2{
    text-align: right;
    color:#b5b5b5;
    padding-right: 13%;
    font-weight: 600;
}

.inH1{
    color:white;
    font-weight: 600;
    margin-left: 5%;
}

.block{
    margin-top: 6.5%;
    border-radius:10px;
}

.block_header{
    padding-left: 5%;
    border-radius:10px 10px 0 0 ;
    background-color:#34b7ce ;
    height: 121px;
    display: flex;
    align-items: center;
}

.block_header img{
    max-width: 74px;
    max-height: 74px;
    min-width: 74px;
    min-height: 74px;
}

.block_form{
    display: flex;
    background-color: #f5f5f5;
    border: solid 1px #cecece;
}

.block_left{
    text-align: center;
    width: 50%;
}

.block_right{
    width: 50%;
    text-align: center;
}

.line{
    width: 100%;
    margin: auto;
    margin-top: 10%;
}

.input_np{
    height: 61px;
    width:356px;
    border: solid 1px #ececec;
    padding: 10px;
    padding-left: 25px;
    border-radius: 20px;
    font-size: 1.5em;
    margin-top: 5%;
}


.input_np::placeholder{
    color: #e9e9e9;
}

.footer_of_block{
    margin: auto;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.checkbox {
	position:relative;
	padding-left:25px;
    display: flex;
    align-items: center;
}

.checkbox label{
	color: #bbbbbb;
}

.checkbox input[type=checkbox] {
	display:none;
}

.checkbox label:after {
	content:'';
	display:block;
	height:14px;
	width:14px;
	outline:1px solid #939598;
	position:absolute;
	top:17px;
    left:0;
}

.checkbox input[type=checkbox]:checked + label:after {
	outline:1px solid #939598;
	border:2px solid #fff;
	width:10px;
	height:10px;
	background-color:#63849F;
}

.footer_of_block button{
    height: 49px;
    width: 152px;
    background:linear-gradient(-45deg,#4fb6e2,#004c6c) ;
    border:0;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}

.footer_of_block button:hover{
    background:linear-gradient(-45deg,#67c1e7,#016088) ;
}

.block_bord{
    margin-left: 2%;
    margin-top: 6%;
    border-left-color: #e7e7e7;
    border-left-style: solid; 
    border-left-width: 1px; 
}

.block_right h3{
    margin-left: 7%;
    padding-top: 5%;
    text-align: left;
    color: #838383;
}

.block_right p{
    margin-left: 7%;
    text-align: left;
    margin-bottom: -1%;
    color: #9f9f9f;
}

.p_mt{
    margin-top: 5%;
    margin-left: 7%;
    text-align: left;
    margin-bottom: -1%;
    color: #9f9f9f;
}

.input_EU{
    height: 53px;
    width:356px;
    border: solid 1px #ececec;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 6%;
    padding-left: 2%;
}

.btn{
    height: 49px;
    width: 152px;
    background: linear-gradient(-45deg,#ffb400,#aa7800);
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 7%;
}

.block_right button:hover{
    background:linear-gradient(-45deg,#f8bb2d,#a77d1b) ;
}

@media only screen 
and (max-width : 1132px) {
   
main{
    background: none;
    height: 100%;
    width: 100%;
    margin: auto;
    background-size: 100%
}

body{
    background-image: url(/img/Group.png);
}

    .content {
        padding-top: 0;
        width: 80%;
        margin: auto;
    }
}

@media only screen 
and (max-width : 1000px) {

    input[type="text"],
    input[type="password"],
    input[type="email"]{width: 87%;}

    .content {
        width: 80%;
        margin: auto;
    }

    .block_form{
        display: block;
    }

    .block_left{
        text-align: center;
        width: 100%;
    }

    .block_left label{
        font-size: 1.4em;
    }

    .block_left img{
        display: none;
    }

    .footer_of_block {
        justify-content: space-around;
    }

    .block_right{
        margin-top: 5%;
        width: 100%;
    }

    .block_right h3{
        margin-left: 0;
        text-align: center;
        font-size: 2em;
    }

    .block_right p {
        margin-left: 0;
        text-align: center;
        font-size: 1.4em;
    }

    .btn{
        height: 49px;
        width: 152px;
        background: linear-gradient(-45deg,#ffb400,#aa7800);
        border: 0;
        border-radius: 10px;
        color: white;
        font-size: 25px;
        float: none;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 3%;
    }

    .block_bord {
        margin-left: 0;
        margin-top: 0;
        border:none;
    }
}

@media only screen 
and (max-width : 700px) {

    .block_header {
        padding: 2px;
        border-radius:0;
        background-color: #34b7ce;
        height: 121px;
        display: flex;
        align-items: center;
    }

    main{
        width: 100%;
        margin: 0;
    }

    .content{
        width: 100%;
        margin: 0;
    }

    .outH2 {
        text-align: center;
        padding-right: 0;
    }

    .inH1 {
        text-align: center;
    }

    .block_right p {
        margin-top: 5%;
    }
}